#modalFastTrack{
    top:20%!important;
    height:30em!important;
    width:45em!important;
}
#modalCancel{
    top:20%!important;
    height:30em!important;
    width:45em!important;
}   
#modalAddNote{
    top:20%!important;
    height: 50%!important;
}
#modalAddCarLead {
    top:20%!important;
    height: 50%!important;
}

#modalAddOfficer , #modalAddMargin{
    top:20%!important;
    height: 40%!important;
}


#modalAddFStaff{
    top:20%!important;
    height: 40%!important;
}


#modalDelete{
    top:20%!important;
    height:30em!important;
    width:45em!important;
}

#modalEdit{
    top:20%!important;
    height:40em!important;
}

#modalRead{
    top:20%!important;
    height:40em!important;
}

.tabslist{
    font-size: large;
}
/* .modal-content-override{
    height: calc(100%) !important;
} */
.typetext16px{
    font-size: 16px;
}
main{
    padding-left: 270px!important;
    padding-right: 0px!important;
}
.circle{
    width:170px!important;
    height:170px!important;
}
.sidenavbar{
    width: 270px!important;
}
.input-table input:focus{
    border-bottom: none !important;
    box-shadow: none !important;
  }
.input-table   input{
    border-bottom: none !important;
    box-shadow: none !important;
  }


.element {
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;

  }

.modal{
    height:90%!important;
    max-height:90%!important;
    top:5%!important;
}
  .highlight {
    opacity: 0.5;
  }

  @-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.summaryIcon{
    width: 2em;
    height: 2em;
}
.summaryIcon-div{
    width: 2em;
    border-radius: 50%;
    
}
.green{
    background-color: green;
}
.gray{
    background-color: gray;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}