.theme-color-bg{
    background-color: #3B4A8A !important;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.no-scrollbar {
    -ms-overflow-style: none;
}
.nav-noclor{
    background-color: #FFFFFF;
}
.sidenavbar{
    top:auto !important ;
    height: 100% !important;
}
.hidden{
    visibility: hidden;
}
.subpadding{
    padding-left: 55px !important;
}